* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    background: #2e4358;
}

#form {
    width: 33%;
    height: 68%;
    padding: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 10px 8px #525050;
}

#form h2 {
    text-transform: uppercase;
    font-weight: 500;
    color: white;
}

#form input[type="text"],#form input[type="password"],#form input[type="file"]{
    display: block;
    text-align: center;
    border: 0;
    margin: 15px auto;
    background: none;
    color: white;
    border: 2px solid #3498db;
    padding: 14px 10px;
    border-radius: 24px;
    width: 200px;
    height: 65px;
    outline: none;
    transition: 0.25s;
}

#form input[type="text"]:focus,#form input[type="password"]:focus{
    width: 250px;
    border: 2px solid #2ecc71;
    transition: 0.25s;
}

#form input[type="text"]::selection,#form input[type="password"]::selection{
    background-color: #3498db ;
    color: black;
}
#form input[type="submit"]{
    display: block;
    text-align: center;
    border: 0;
    margin: 20px auto;
    background: #21c465;
    color: white;
    padding: 14px 10px;
    border-radius: 24px;
    width: 130px;
    outline: none;
    transition: 0.25s;
}

#form input[type="submit"]:hover {
    background: #009e42;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width:10%;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
  background-color: #111;
}
  
.active {
    background-color: #21c465;
}

p{
    color: rgb(214, 214, 214);
    font-size: 16px;
}


.profile-pic::-webkit-file-upload-button {
    visibility: hidden;
}
.profile-pic::before {
    content: 'Choose Profile Pic';
    padding: 5px 25px;
    border: none;
    outline: none;
    --webkit-user-select: none;
    cursor: pointer;
    opacity: 0.5;
} 

.alert-custom {
    width: 70%;
    height: 7%;
    margin: auto;
    margin-bottom: 5px;
    padding: 0;
    background: rgb(223, 222, 221);
    border: 2px solid #3498db;
}

.alert-custom .dismiss-icon {
    padding: 8px;
    width: 7px;
    height: 7px;
    color: black;
}
